<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <!-- 通过v-model绑定的值与value的值相同实现互斥 -->
  <!-- <div id="app">
    <input type="radio" v-model="picked" value="html" id="html">
    <label for="html">HTML</label>
    <br>
    <input type="radio" v-model="picked" value="js" id="js">
    <label for="html">JS</label>
    <br>
    <input type="radio" v-model="picked" value="css" id="css">
    <label for="html">CSS</label>
    <br>
    <p>选择的项是：{{picked}}</p>
  </div> -->

  <div id="app">
      <input type="radio" v-model="picked" name="qd"  id="html">
      <label for="html">HTML</label>
      <br>
      <input type="radio" v-model="picked" name="qd" id="js">
      <label for="js">JS</label>
      <br>
      <input type="radio" v-model="picked" name="qd" id="css">
      <label for="css">CSS</label>
      <br>
      <p>选择的项是：{{picked}}</p>
    </div>
   
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        picked: "js"
      }
    })
  </script>
</body>
</html>